* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}
.actualbody {
  display: flex;
  gap: 0.6vw;
  color: white;
}
.side1 {
  width: 23vw;
  margin-top: 0.6vw;
  margin-left: 0.6vw;
}

.logosection {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 23vw;
  box-sizing: border-box;
  height: 20vh;
  /* border:2px solid red; */
  background-color: #121212;
  border-radius: 8px;
}
.home {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home:hover {
  cursor: pointer;
}
.search {
  color: #9b9494;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 6vw;
}
.search:hover {
  color: white;
  cursor: pointer;
}

.library {
  padding: 20px;
  box-sizing: border-box;
  background-color: #121212;
  margin-top: 0.6vw;
  height: 76vh;
  width: 23vw;
  border-radius: 8px;
}
.liblogo {
  display: flex;
  gap: 15px;
  align-items: center;
  color: whitesmoke;
}
.playlist{
  padding:40px 10px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}
.artist{
  display:flex;
  gap:1rem;
  align-items: center;
  border-radius:20px;
  padding:5px;
  width:12vw;
}
.artist img{
  width:35px;
  height:35px;
  object-fit: cover;
  border-radius: 50%;
}
.artist:hover{
  background-color: #2e2d2d;
  cursor:pointer;
}

/* side 2 starting:- */

.side2 {
  width: 76vw;
  background-color: #1d1d1d;
  border-radius: 8px;
  margin-top: 0.6vw;
  margin-right: 0.6vw;
  position: relative;
}
.nav {
  /* padding: 18px; */
  box-sizing: border-box;
  height: 10vh;
  background-color: #121212;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img{
  padding:0px 30px;
}
.sidebar img{
  display:none;
  width:35px;
  height:35px;
  filter:invert();
  fill:white;
}


/* albumcards */
.albumcards{
  padding:30px;
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap:1.8vw;
  overflow-y: scroll;
  scrollbar-width:none;
  height:75vh;
}
.card{
  height:33vh;
  width:12vw;
  display:flex;
  flex-direction:column;
  gap:0.3rem;
  border-radius: 10px;
  position:relative;

}
.card:hover{
  background-color: #2e2d2d;
  cursor:pointer;
}
.playsvg{
  visibility:hidden;
  position:absolute;
  bottom:25%;
  right:10%;
  width:50px;
  height:50px;
}
.card:hover > .playsvg{
  visibility:visible;
  bottom:32%;
  transition:all 0.2s ease-in;

}
.cardimg{
  height:25vh;
  width:10vw;
  margin: 0px auto;
}

.cardimg img{
  height:25vh;
  width:10vw;
  object-fit: contain;
  border-radius: 10px;
  margin: 0px auto;
}
.card h3{
  padding:0px 20px;
}
.card p{
  padding:0px 20px;
  color:#b3b3b3;
}

/* playbar */

.seekline{
  position:absolute;
  z-index:10;
  bottom:10vh;
  left:0;
  height:0.3rem;
  width:99.7%;
  border-radius: 10px;
  background-color:rgb(132, 128, 128);
  border:2px solid whitesmoke;
}
.seekcircle{
  height:15px;
  width:15px;
  border-radius: 50%;
  background-color:#1eb760;
  position:absolute;
  bottom:9.5vh;
  left:20vh;
  z-index:100;
}
.playbar {
  padding:1.5rem;
  box-sizing: border-box;
  height: 10vh;
  width:100%;
  background-color: #101010;
  position: absolute;
  bottom: 0;
  border-radius: 8px 8px 8px 8px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.playpause{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  align-self:center;
  /* position:fixed;
  left:58%; */
}
.playbar img:hover{
  cursor:pointer;
}
.seekbar:hover{
  cursor:pointer;
}
.volume{
  display:flex;
  align-items: center;
  gap:5px;
}
 .volume input[type="range"]{
  width:7rem;
  accent-color: #1eb760;
  cursor:pointer;
 }
.songname{
  display:flex;
  align-items: center;
  gap:8px;
}
.midplaybar{
  display: flex;
  gap:40px;
}





/* responsive */

@media only screen and (max-width:500px) {
  
}



